.Contact_Outer {
    height: 80%;
    width: 20%;
    display: flex;
    position: absolute;
    right: 80%;
    flex-direction: column;
    color: whitesmoke;
    font-size: 1rem;
    align-items: center;
}

.Contact_Profile_image {
    height: 180px;
    width: 180px;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    margin: 10px;
    opacity: 0;
}

.Contact_Links_Container {
    opacity: 0;
}

.Contact_Links {
    margin: 10% 0;
    font-size: 1.2rem;
    opacity: 1;
    text-shadow: 0 0 10px rgb(255, 0, 212);
}

a {
    color: whitesmoke;
}